<%- include partials/header %>
<h1>Home</h1>
<p><%= homeStartingContent %> </p>
<% posts.forEach(function(publication) { %>
<% const preview = publication.postMessage.slice(0, 100); %>
<h1><%= publication.postTitle %></h1>
<p><%= preview %>...<a href="/posts/<%= publication.postTitle %>">Read More</a></p>
<%})%>
<%- include partials/footer %>